#stats {
    background: #dd71c6;


    padding-block: 7vh;
    padding-inline: 15%;

    text-align: center;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}

.info-banner span {
    color: #bbb;
}

.info-container .info-banner {
    cursor: pointer;

    width: 22.5%;
    max-width: 200px;
    aspect-ratio: 1;
    padding-block: 1rem;

    background: rgb(255, 255, 255, 0.9);
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(174, 0, 255, 0.253) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container .info-banner:hover {
    transform: perspective(3000px) rotateY(5deg);
    background: rgba(255, 255, 255, 1);
}
.info-container .book-appointment-btn:after {
    background: #ff9900;
}

#stats i {
    font-size: 2rem !important;
}

@media (width < 480px) {
    .info-container {
        row-gap: 30px;
    }

    .info-container .info-banner {
        width: 40%;
    }

    #stats {
        padding-inline: 2%;
    }
}